@{
    ViewBag.Title = "首页";
}
@section css{
    <link href="~/assets/modules/flexslider/css/style.css" rel="stylesheet" />
}
<div id="demo01" class="flexslider">
    <ul class="slides">
        <li><div class="img"><img src="~/assets/images/win1001.jpg" height="350" width="1170" alt="" /></div></li>
        <li><div class="img"><img src="~/assets/images/win1021.jpg" height="350" width="1170" alt="" /></div></li>
        <li><div class="img"><img src="~/assets/images/win1008.jpg" height="350" width="1170" alt="" /></div></li>
    </ul>
</div>
@section scripts
{
    <script src="~/assets/modules/flexslider/js/slider.js"></script>
    <script>
        $('#demo01').flexslider({
            animation: "slide",
            direction: "horizontal",
            easing: "swing"
        });
    </script>
}